@namespace AstroToolkitWeb.Pages.Components

<div class="weather-icon">
    @if (string.IsNullOrEmpty(IconCode))
    {
        <img src="images/weather/placeholder.svg" alt="Weather" class="weather-img" />
    }
    else
    {
        <img src="@($"images/weather/{IconCode.ToLower().Replace("_", "-")}.svg")" alt="Weather" class="weather-img" />
    }
</div>

@code {
    [Parameter]
    public string? IconCode { get; set; }
}